/**
 * This file is a part of MediaCore CE, Copyright 2009-2012 MediaCore Inc.
 * The source code contained in this file is licensed under the GPL.
 * See LICENSE.txt in the main project directory, for more information.
 **/

#display_name_container,
#email_address_container {
	clear: none;
	float: left;
	width: 50%;
}
#user-form .details_fieldset .fieldlabel {
	width: 120px;
}
#login_details_user_name,
#login_details_password,
#login_details_confirm_password {
	width: 287px;
}
#login_details_group {
	width: 300px;
}

#user-form #login_details_groups li {
    margin-left: 130px;
}
