/**
 * This file is a part of MediaCore CE, Copyright 2009-2012 MediaCore Inc.
 * The source code contained in this file is licensed under the GPL.
 * See LICENSE.txt in the main project directory, for more information.
 */
/*960.gs Resets*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}ins{text-decoration:none}del{text-decoration:line-through}table{border-collapse:collapse;border-spacing:0}
/*960.gs Typography*/
body{font-size:13px;line-height:1.5;}
hr{border:0 #ccc solid;border-top-width:1px;clear:both;height:0}

/* Google Closure Library crossbrowser inline-block */
.goog-inline-block {
	position: relative;
	display: -moz-inline-box; /* Ignored by FF3 and later. */
	display: inline-block;
}
* html .goog-inline-block {
	display: inline;
}
*:first-child+html .goog-inline-block {
	display: inline;
}

/* Base generic styles */
body, select, input, button, textarea {
	font-family: 'Helvetica Neue', Arial, 'Liberation Sans', FreeSans, sans-serif;
}
embed, object, iframe, audio, video {
	display: block;
}

ul.bullets > li,
ol.bullets > li {
	list-style: disc outside none;
}
ul.numbers > li,
ol.numbers > li {
	list-style: decimal outside none;
}

.hidden {
	display: none;
}

a:hover {
	text-decoration: none;
}
.underline-hover:link,
.underline-hover:visited {
	text-decoration: none;
}
.underline-hover:hover,
.underline-hover:active,
.underline-hover:focus {
	text-decoration: underline;
}

.clickable { cursor: pointer }
.clickable:hover { cursor: pointer }
.uppercase { text-transform: uppercase }
.f-lft { float: left }
.f-rgt { float: right }
.clear { clear: both }
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
* html .clearfix { height: 1% }
*:first-child+html .clearfix { display: inline-block }

/* MediaCore default layout */
#mcore-site-title,
#mcore-logo {
	width: 920px;
	margin: 10px auto;
}
#mcore-tagline {
	margin-top: -10px;
	font-size: 12px;
}
#mcore-logo {
	height: 28px;
	background: url('../images/layout/logo.png') no-repeat left;
}
#mcore-logo a {
	height: 0px;
	padding-top: 28px;
	padding-left: 10px;
	width: 204px;
	overflow: hidden;
	display: block;
}
#mcore-foot {
	background-repeat: no-repeat;
	width: 950px;
	height: 47px;
	color: #a9afb4;
	font-weight: bold;
	text-shadow: 0 1px #fff;
	margin-top: 15px;
	margin-bottom: 15px;
}
.mcore-foot-link:link,
.mcore-foot-link:visited {
	color: #a9afb4;
}
.mcore-foot-link:hover {
	color: #0f7cb4;
}
#mcore-feeds .mcore-foot-link {
	margin-right: 5px;
}
#mcore-credits,
#mcore-feeds {
	margin: 13px 15px;
}
#mcore-credits strong {
	text-transform: uppercase;
}
.mediacore-content {
	width: 920px;
	margin: 0 auto;
}

/* Login bar */
.mcore-login-container {
    float: right;
}

/* Sectional Nav */
.mcore-nav-box {
	width: 920px;
	padding: 14px 15px;
	height: 38px;
	margin: 0 auto 15px auto;
}
.mcore-nav {
	width: 730px;
	float: left;
	list-style: none !important;
}
.mcore-nav > li {
	float: left;
}
.mcore-nav-link,
.mcore-nav-link-sep {
	display: block;
	height: 38px;
	text-decoration: none;
	font-weight: bold;
	font-size: 12px;
	-webkit-font-smoothing: antialiased;
}
.mcore-nav-link > span {
	display: block;
	height: 38px;
	line-height: 37px;
	float: left;
	margin-left: 5px;
	padding: 0 10px;
	font-size: 12px;
}
.mcore-nav-right .mcore-nav-link > span {
	padding: 0 10px;
}
.mcore-nav-link > em {
	display: block;
	float: left;
	width: 5px;
	height: 38px;
}
.mcore-nav li.f-rgt { float: right; }
.mcore-nav-link { background-position: -5px 0 }
a.mcore-nav-link:hover { background-position: -5px -38px }
a.mcore-nav-link:active,
a.mcore-nav-link.active { background-position: -5px -76px }
a.mcore-nav-link:hover > em { background-position: 0 -38px }
a.mcore-nav-link:active > em,
a.mcore-nav-link.active > em { background-position: 0 -76px }
a.mcore-nav-link:hover > span { background-position: 0 -38px }
a.mcore-nav-link:active > span,
a.mcore-nav-link.active > span { background-position: 0 -76px }

#nav-search {
	float: right;
	width: 175px;
	height: 38px;
}
#nav-search input {
	float: left;
	width: 131px;
	height: 15px;
	padding: 11px 0 11px 10px;
	margin: 0;
	border: 0;
}
#nav-search input.nav-search-btn {
	width: 34px;
	height: 38px;
	padding: 0;
	text-indent: -5000px;
}

#nav-search input.nav-search-btn:hover { background-position: 0 -38px }
#nav-search input.nav-search-btn:active { background-position: 0 -76px }
#nav-search input,
#nav-search .overTxtLabel {
	color: #595050;
	font-size: 13px;
}

/* Generic content styles */
h1, h2, h3, h4, h5 {
	font-weight: bold;
	font-size: 18px;
	margin-bottom: 10px;
}

.head-super {
	font-weight: normal;
	font-weight: 13px;
	border-bottom: 1px solid #cdd2d5;
	padding-bottom: 10px;
	margin-bottom: 11px;
}

/* Buttons */
.mcore-btn {
	height: 33px;
	overflow: visible; /* IE7 */
	cursor: pointer;
	display: block;
	border: 0;
	margin: 0;
	padding: 0;
	text-decoration: none;
	font-weight: bold;
	font-size: 12px;
	-webkit-font-smoothing: antialiased;
	background-repeat: no-repeat;
	background-color: transparent;
}
.mcore-btn > span {
	display: block;
	height: 33px;
	margin-left: 5px;
	padding: 0 12px 0 7px;
	line-height: 32px;
	background-repeat: no-repeat;
	background-position: 100% 0;
	white-space: nowrap; /* IE7 */
}
.mcore-btn:hover, .mcore-btn.hover { background-position: 0 -33px }
.mcore-btn:active, .mcore-btn.active { background-position: 0 -66px }
.mcore-btn:hover > span, .mcore-btn.hover > span { background-position: 100% -33px }
.mcore-btn:active > span, .mcore-btn.active > span { background-position: 100% -66px }

/* Fix extra padding on button elements in firefox */
button::-moz-focus-inner {
	border: 0;
	padding: 0;
}

/* Meta info/link text with an icon to its left */
.meta {
	padding-left: 16px;
}

.meta-comments { background: url('../images/icons/comments.png') no-repeat left; }
.meta-likes { background: url('../images/icons/likes.png') no-repeat left; }
.meta-views { background: url('../images/icons/views.png') no-repeat left; }
.meta-download { background: url('../images/icons/download.png') no-repeat left; }
.meta-embed { background: url('../images/icons/embed.png') no-repeat left; }
.meta-share { background: url('../images/icons/share.png') no-repeat left; }
.meta-episodes { background:url('../images/icons/rss.png') no-repeat left; }
.meta-itunes { background:url('../images/icons/rss.png') no-repeat left; }
.meta-rss { background:url('../images/icons/rss.png') no-repeat left; }
.meta-audio { background:url('../images/icons/audio.png') no-repeat left; }
.meta-video { background:url('../images/icons/video.png') no-repeat left; }
.meta-go { background:url('../images/icons/go.png') no-repeat left; }

a.meta-likes:link,
a.meta-likes:visited {
	text-decoration: none;
}
a.meta-likes:hover strong,
a.meta-likes:active strong {
	text-decoration: underline;
}

/* Grey content box */
.feat-box {
	margin-bottom: 15px;
}
.feat-top,
.feat-bottom {
	width: 920px;
	height: 10px;
	background-repeat: no-repeat;
}
.feat-bottom {
	background-repeat: no-repeat;
}
.feat-content {
	padding: 5px 15px;
	background-repeat: repeat-y;
	position: relative;
	width: 890px;
}
.media-desc p {
	margin-bottom: 10px;
}
.media-desc ol,
.media-desc ul {
	margin: 0 15px 10px 30px;
	list-style-type: decimal;
}
.media-desc ul {
	list-style-type: circle;
}
.media-desc blockquote {
	margin: 0 15px 0 30px;
}
.media-desc del {
	color: red;
}
.media-desc ins {
	border-bottom: 1px solid green;
	color: green;
	text-decoration: none;
}
.media-desc sup,
.media-desc sub {
	font-size: 80%;
	vertical-align: super;
}
.media-desc sub {
	vertical-align: sub;
}
.feat-info {
	float: right;
	width: 265px;
	margin-bottom: 26px;
}
.feat-date {
	margin: -5px 0 10px 0;
	font-weight: bold;
	font-size: 12px;
}
.feat-meta {
	position: absolute;
	bottom: 0;
	right: 15px;
	width: 265px;
	line-height: 19px;
}
table.feat-meta > tbody > tr {
	background: url('../images/layout/hr.png') repeat-x scroll left top transparent;
}
table.feat-meta > tbody > tr:first-child {
	background: none;
}
table.feat-meta > tbody > tr > td {
	padding: 4px 0 2px 0;
}
table.feat-meta > tbody > tr:first-child > td {
	padding: 0 0 3px 0;
}
.feat-box .meta-comments,
.feat-box .meta-likes,
.feat-box .meta-views {
	margin-right: 10px;
}

/* Media grids */
.grid {
	width: 920px;
	position: relative;
}
.grid li {
	width: 440px;
	height: 127px;
	float: left;
	margin-right: 20px;
	font-size: 12px;
}
.grid li a {
	display: block;
	text-decoration: none;
	width: 100%;
	height: 120px;
}
.grid-title {
	text-decoration: none;
	font-size: 13px;
	font-weight: bold;
}
a:hover .grid-title,
a:focus .grid-title {
	text-decoration: underline;
}
.grid-title,
.grid-desc,
.grid-meta {
	float: right;
	width: 297px;
	overflow: hidden;
	cursor: pointer;
}
.grid-desc {
	line-height: 18px;
	margin: 5px 0;
	cursor: pointer;
}

.grid-meta {
	display: block;
}
.grid-meta .meta-likes > span {
	position: absolute;
	top: -5000px;
	left: -5000px;
}
.grid-meta .meta-likes,
.grid-meta .meta-views {
	float: left;
	display: block;
	width: 30px;
}
.grid-meta .meta-views {
	width: 105px;
}

.thumb-wrap {
	display: block;
	overflow: hidden;
	position: relative;
	width: 128px;
	float: left;
	border: 1px solid #cdd2d5;
}
.thumb-wrap > img {
	display: block;
}
.thumb-duration,
.thumb-duration-right {
	position: absolute;
	height: 16px;
	line-height: 18px;
	bottom: 3px;
	right: 9px;
	padding-left: 7px;
	background: url('../images/layout/duration-left.png') no-repeat left;
	color: #cacaca;
	margin: 3px;
}
.thumb-duration-right {
	width: 6px;
	right: 3px;
	background: url('../images/layout/duration-right.png') no-repeat right;
}

.grid .thumb-wrap {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	padding: 3px;
}

/* Overrides for full size thumbs */
.m-grid .thumb-wrap {
	width: 160px;
}
.m-grid .grid-title,
.m-grid .grid-desc,
.m-grid .grid-meta {
	width: 259px;
}

.m-grid-column,
.m-grid-column .m-grid {
	width: 440px;
	float: left;
}
.m-grid-column .feat-box {
	margin-bottom: 15px;
}
.m-grid-column .feat-top {
	width: 440px;
}
.m-grid-column .feat-bottom {
	width: 440px;
}
.m-grid-column .feat-content {
	width: 410px;
}
.m-grid-column .feat-box h3 {
	text-align: right;
	padding-top: 10px;
	padding-bottom: 1px;
	margin-bottom: 0;
	overflow: hidden;
	width: 100%;
}
.m-grid-column .feat-meta {
	position: static;
	width: auto;
	float: right;
	margin-right: -10px;
}
.mcore-btn-more {
	position: relative;
	margin-top: -10px;
	width: 168px;
	clear: both;
	float: left;
	font-weight: normal;
}
.mcore-btn-more > span {
	text-align: center;
}
.nav-categories-on .mcore-btn-more {
	width: 130px;
}
#category-content .mcore-btn-more {
	font-weight: normal;
	width: 136px;
}

/* Media details page */
#media-player {
	border: 1px solid #fff;
}
#media-info {
	width: 560px;
	margin: 0 15px 15px 15px;
	float: left;
}
#media-info:first-child {
	margin-top: 0;
}
#media-info #media-box {
	margin: 0 0 15px -15px;
}
.media-norm .feat-top,
.media-norm .feat-bottom {
	width: 590px;
}
.media-norm .feat-content {
	width: 560px;
}
.media-wide #media-info {
	margin-top: 0;
}

/* Ensure the meta hover elements render above the sidebar grid in IE7 */
#media-inner-wrapper {
	position: relative;
	z-index: 5;
}
#media-sidebar {
	position: relative;
	z-index: 4;
	float: right;
}

.mcore-playerbox {
	background: #000;
}
.mcore-playerbar {
	height: 38px;
	margin: 0 10px;
}
.mcore-playerbar .mcore-nav {
	width: 100%;
}
.mcore-playerbar li {
	position: relative;
}
.mcore-playerbar .mcore-nav-link-sep {
	position: absolute;
	top: 0;
	right: 0;
	width: 5px;
	margin-right: -5px;
	background-position: -5px 0;
}
.mcore-playerbar > .mcore-nav > li {
	position: relative;
}
.mcore-playerbar .mcore-nav-left {
	margin-left: -10px;
}
.mcore-playerbar .mcore-nav-right {
	margin-right: -10px;
}
.mcore-btn-like {
	padding-left: 18px;
	display: block;
}
.mcore-btn-dislike,
.mcore-btn-expand,
.mcore-btn-shrink,
.mcore-btn-popout {
	width: 17px;
	height: 18px;
	display: block;
	text-indent: -5000px;
	margin-top: 9px;
}

.feat-title,
.feat-date {
	color: #202327;
}
.feat-stats {
	border-top: 1px solid #d4dfe5;
	padding-top: 5px;
	margin-top: 15px;
	font-weight: bold;
	color: #494b4e;
}
.feat-stats > .meta-comments {
	background: none;
}
.feat-stats > .meta-likes,
.feat-stats > .meta-views {
	padding-left: 15px;
}
.feat-stats > .meta-dislikes {
	color: #81858b;
	margin-left: 3px;
}
.feat-stats > .meta-views {
	margin-left: 15px;
}

.contextbox {
	float: right;
	clear: right;
	width: 315px;
	margin-bottom: 15px;
}
.contextbox .subhead {
	float: right;
	padding-top: 11px;
}
.contextbox .grid {
	width: 315px;
}
.contextbox .grid li {
	width: 315px;
	height: 104px;
	margin-right: 0;
}
.contextbox .grid li a {
	height: 101px;
}
.contextbox .grid .grid-title {
	padding: 9px 0;
}
#podcast-context .grid-title {
	padding-bottom: 0;
}
.contextbox .grid .grid-title,
.contextbox .grid .grid-desc,
.contextbox .grid .grid-meta {
	width: 167px;
}
.contextbox-none {
	font-style: italic;
}
#podcast-context .grid li,
#podcast-context .grid a {
	height: 130px;
}
#podcast-context .grid-meta span.meta-episodes span {
	position: static;
}
#category-context h3,
#tag-context h3 {
	margin-bottom: 5px;
}
.contextbox + .contextbox h3 {
	border-top: 1px solid #cdd2d5;
	padding-top: 10px;
}
#media-context.contextbox h3 {
	border-top: 0;
	padding-top: 0;
	margin-bottom: 10px;
}

/* Media Library */
#library-controls {
	border-top: 1px solid #cdd2d5;
	padding-top: 5px;
	margin: -3px 0 7px 0;
	font-size: 14px;
}
#library-controls #library-show,
#library-controls ul,
#library-controls li {
	float: left;
	margin-right: 10px;
}
#library-controls li {
	font-weight: bold;
}
#library-controls a {
	font-weight: normal;
}

/* Pagination */
.mcore-pager {
	font-size: 14px;
	float: right;
}
.mcore-pager-label,
.mcore-pager-dotdot {
	padding: 6px 3px;
	float: left;
	display: block;
	margin-left: 5px;
}
.mcore-pager-link,
.mcore-pager-current {
	margin-left: 5px;
	font-weight: normal;
	float: left;
}
.mcore-pager-current > span {
	color: #000;
}
.mcore-pager strong {
	font-weight: bold;
}
.mcore-pager-link > span {
	padding: 0 10px 0 5px;
}
.mcore-pager-label {
	color: #637084;
	padding-left: 0;
}
#library-controls .mcore-pager {
	margin-right: -3px;
	margin-top: -5px;
}

/* Feed links in footer */
#mcore-feeds {
	float: left;
}
#mcore-feeds h5 {
	display: none;
}
#mcore-feeds li {
	display: inline;
	margin-right: 5px;
	font-size: 12px;
}

.see-more {
	margin-top: -5px;
	margin-bottom: 25px;
	float: right;
}
.mcore-excerpt-fulltext,
.mcore-excerpt {
	overflow: hidden;
}
.mcore-excerpt-toggle {
	font-size: 18px;
	line-height: 12px;
	color: #0F7CB4;
	font-weight: bold;
}
#desc-more:hover {
	cursor: pointer;
}

.meta-hover {
	visibility: hidden;
	position: absolute;
	width: 193px;
	top: 33px;
	left: 50%;
	margin-left: -91px;
	z-index: 1;
}
.meta-hover-top,
.meta-hover-bottom {
	background: url('../images/layout/meta-hover-top.png') no-repeat bottom;
	height: 18px;
}
.meta-hover-bottom {
	background: url('../images/layout/meta-hover-bottom.png') no-repeat top;
}
.meta-hover-content {
	background: url('../images/layout/meta-hover-bg.png') repeat-y;
	padding: 0 15px;
}

.meta-hover label {
	width: 162px;
	display: block;
	font-size: 12px;
	line-height: 10px;
	font-weight: bold;
}
.meta-hover input {
	margin-top: 7px;
	margin-bottom: -1px;
	padding: 5px;
	width: 151px;
	border: 1px solid #c6c6c6;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
.meta-hover-content ul {
	margin: 0 0 0 16px;
	font-size: 12px;
	line-height: 14px;
}
.meta-hover-content li:first-child {
	margin-top: 0;
}
.meta-hover-content li {
	margin-top: 5px;
}
.meta-hover-content ul a {
	display: block;
	margin-left: -1px;
}
ul.meta-hover-bottom {
	list-style: none;
	background: url('../images/layout/meta-hover-share.png') no-repeat;
	height: 39px;
	margin: 0;
}
#downloadthis .meta-hover {
	left: -50px;
}
#sharethis-hover li a {
	text-indent: -5000px;
	width: 59px;
	height: 29px;
	margin-top: 1px;
	display: block;
	float: left;
}
#sharethis-hover input { margin-bottom: 10px }
#sharethis-hover .share-email a { margin-left: 6px }
#sharethis-hover .share-facebook a { width: 66px }

/* Forms */
textarea {
	resize: vertical;
}
.form li {
	width: 100%;
	overflow: hidden;
}
.form .submit,
.form .submit .form-field {
	text-align: right;
}
.form .submit input {
	float: right;
}
.form .inputfield,
.form .xhtmltextarea,
.form .selectfield {
	width: 98%;
	border: 1px solid #a9a9a9;
	background: #f9f9f9;
	font-size: 12px;
	padding: 3px;
}
.form .form-field-wide {
	position: relative;
}
.form textarea,
.form input[type='text'],
.form input[type='password'] {
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border: 2px solid #d9dee1;
	padding: 5px 6px 6px 6px;
	color: #637084;
}

.xhtml-description-helper p,
.xhtml-description-helper li {
	margin: 1em 0;
}
.xhtml-description-helper em {
	font-weight: bold;
}

/* Zencoder VideoJS HTML5 Player overrides */
.feat-content .vjs-controls {
	margin: 0;
}
.feat-content .vjs-progress-holder {
	margin: 7px 1px 0px 5px;
}

/* Tag listing page */
#tag-directory {
	clear: both;
}
#tag-directory li {
	width: 50%;
	float: left;
}

.cooliris-nav {
	background: #cbd4d8;
	width: 210px;
	height: 324px;
	float: left;
	overflow: hidden;
}
.cooliris-nav-content {
	margin: 2px 0;
	height: 321px;
	width: 99%;
}
.cooliris-nav-content::-webkit-scrollbar {
	width: 10px;
	-webkit-border-radius: 5px;
}
.cooliris-nav-content::-webkit-scrollbar-thumb {
	background: #637084;
	border: 1px solid #637084;
	-webkit-border-radius: 5px;
}
.cooliris-latest,
.cooliris-featured,
.cooliris-cats-btn {
	padding: 10px 15px;
	color: #484f5a;
	text-shadow: 0 1px #fff;
	-webkit-font-smoothing: antialiased;
}
.cooliris-latest,
.cooliris-cats-btn {
	background: url('../images/layout/cooliris-hr.png') no-repeat top;
}
.cooliris-arrow {
	background: url('../images/layout/cooliris-arrow.png') no-repeat 0 2px;
	width: 13px;
	height: 13px;
}
.cooliris-arrow.down {
	background-position: 0 -11px;
}
.cooliris-nav .cooliris-cats {
	color: #727a88;
	-webkit-font-smoothing: antialiased;
	text-shadow: 0 1px #fff;
	margin-top: -10px;
}
.cooliris-nav .cooliris-cats li {
	padding: 5px 0 5px 25px;
	list-style: none;
}
.cooliris-cats-btn:hover .cooliris-cats-text,
.cooliris-nav .cooliris-feed:hover {
	text-decoration: underline;
}
.cooliris-wall {
	background: #eef2f5;
	width: 680px;
	height: 324px;
	float: left;
}
.cooliris-feed-active {
	font-weight: bold;
}

#mcore-ad-banner {
	text-align: center;
	margin-bottom: 15px;
}
#mcore-ad-sidebar {
	text-align: center;
	float: right;
	width: 315px;
	margin-bottom: 15px;
}
