/**
 * This file is a part of MediaCore CE, Copyright 2009-2012 MediaCore Inc.
 * The source code contained in this file is licensed under the GPL.
 * See LICENSE.txt in the main project directory, for more information.
 **/

/* general setup for plain pages without nav bar and layout decoration */
.mcore-plain-page {
    padding-top: 100px;
}

.mcore-plain-page .logo-container {
    margin-bottom: 20px;
}

.mcore-plain-page #mcore-logo {
    background-position: center center;
}

.mcore-plain-page #mcore-site-title {
    text-align: center;
    font-size: 35px;
}

.mcore-plain-page #mcore-site-title a {
    text-decoration: none;
}


/* form setup for plain pages */

.mcore-plain-page input.has_error {
    background-color: #ffd3d3;
}

.mcore-plain-page .field_error {
    color: red;
    font-weight: bold;
}

.mcore-plain-page .box {
    border-radius: 5px;
    border: 1px solid #B4BAC3;
    /* display background of parent element outside of rounded corners */
    overflow: hidden;
}

.mcore-plain-page .box > form {
    background-color: white;
    color: #3C4D5A;
    width: 100%;
}

.mcore-plain-page .box-content {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.mcore-plain-page .mcore-textlink-button {
    line-height: 2.5em;
}

.mcore-plain-page label {
    font-weight: bold;
}

.mcore-plain-page .box-head, 
.mcore-plain-page .box-foot {
    color: #3C4D5A;
    overflow: hidden;
    margin-bottom: 0px;
    background-color: #E0E4EA;
}

.mcore-plain-page .box-head {
    padding: 10px;
}

.mcore-plain-page .box-foot {
    padding: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
}

.mcore-plain-page .success {
    width: 387px;
    background-color: #ceecb5;
    padding: 10px;
    border-radius: 5px;
    -moz-border-radius: 5px;
}

/* login page + forgot password page */

#login-page, 
.mcore-reset-password .mcore-plain-content {
    width: 387px;
    margin: 0px auto 0px;
}

#login-page input, 
.mcore-reset-password input {
    width: 350px;
}

#reset-bad-hash-page.error {
    background-color: #ffd3d3;
    padding: 10px;
    border-radius: 5px;
    -moz-border-radius: 5px;
}

/* specific rules for login page */

#login-page .form-error {
    color: red;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    
    background-color: #ffd3d3;
    padding: 4px;
    margin-bottom: 10px; 
}

#login-page #password_container {
    margin-top: 5px;
}

#ie-warning-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	text-align: center;
	width: 100%;
}
#ie-warning {
	background: #ff0000;
	color: #ffd6d6;
	font: 18px/25px Tahoma, sans-serif;
	border: 2px solid black;
	padding: 1em;
	margin: 100px auto 0 auto;
	width: 30em;
}
#ie-warning a:link,
#ie-warning a:visited {
	color: #fff;
	text-decoration: underline;
}
#ie-warning a:hover {
	text-decoration: none;
}
#ie-warning strong {
	font-weight: bold;
	color: #fff;
}
