/**
 * This file is a part of MediaCore CE, Copyright 2009-2012 MediaCore Inc.
 * The source code contained in this file is licensed under the GPL.
 * See LICENSE.txt in the main project directory, for more information.
 */

/* --- profile overview --- */

#profile-page > div {
    width: 500px;
}

/* -- copied from admin base.css -- */
#profile-page .box {
    border-radius: 5px;
    background-color: #E0E4EA;
    border: 1px solid #B4BAC3;
    /* display background of parent element outside of rounded corners */
    overflow: hidden;
}

#profile-page .box > table {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #3C4D5A;
    width: 100%;
}

#profile-page table {
    border-collapse: collapse;
    border-spacing: 0;
}

#profile-page .box > table > *:first-child > tr:first-child > * {
    border-top: 0 none;
}

#profile-page .box > table tr td {
    border-top: 1px solid #B3C4D0;
    padding: 10px;
    vertical-align: middle;
}

#profile-page .box-head, #profile-page .box-foot {
    color: #3C4D5A;
    overflow: hidden;
    padding: 10px;
    margin-bottom: 0px;
}
/* --- end of copy from admin base.css -- */


/* --- password change --- */

#password_change .box-content {
    width: 400px;
} 

#password_change .box-content > div {
    margin-bottom: 5px; 
}

#password_change .label_container {
    float: left;
}

#password_change .form_field {
    text-align: right;
}

#password_change .box-foot {
    width: 400px;
}

#password_change #save {
    float: right;
}

#password_change #cancel {
    font-weight: bold;
    line-height: 2.5em;
}

#password_change {
    margin-bottom: 1em;
}

#password_change .field_error {
    color: red;
    font-weight: bold;
}

#password_change input.has_error {
    background-color: #ffd3d3;
}


#password_change .form input[type='password'] {
/* copied rules from base.css: .form textarea, .form input[type='text'] */
	border: 2px solid #d9dee1;
	border-radius: 10px;
	padding: 5px 6px 6px 6px;
	color: #637084;
}



